h1 {
    font: 1em sans-serif;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

h2 {
    font: 1em sans-serif;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

p {
    text-align: center;
    font: 1em sans-serif;
    font-size: 8pt;
    font-family: 'PT Sans', sans-serif;
}

p1 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: red;
}

p2 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
}

p3 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 40pt;
    color: white;
}

p4 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 8pt;
}

p5 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: red;
    font-size: 8pt;
}

p6 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: rgb(161, 161, 161);
    font-size: 8pt;
}

p7 {
    font: 1em sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 10pt;
    color: white;
}

.container {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

ons-button[modifier="large"] {
    background: rgb(35, 155, 86);
}

ons-button[modifier="material1"] {
    background: rgb(21, 17, 224);
}

ons-button[modifier="material2"] {
    background: rgb(189, 11, 11);
}

#login {
    margin-top: 20%;
}

#register {
    margin-top: 20%;
}

#color-page .page__background{
    background-color:#FFFF66;

}

#melbourne {
    text-align: center;
}

#add {
    background-color: gray;
}

#button-order {
    background-color: white;
    color: black;
    font-size: 10pt;
    font-family: 'PT Sans', sans-serif;
}

#color-gray {
    background-color: rgb(230, 230, 230);
}

#card-border {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(179, 179, 179);
    text-align: center;
}

#color-violet {
    background-color:rgb(131, 41, 131); 
    text-align: center;
    color: white;
}

#color-blue {
    background-color:rgb(41, 34, 141); 
    text-align: center;
    color: white;
}

#color-black {
    background-color:rgb(0, 0, 0);
    text-align: center;
    color: white;
}

#regis {
    color: red;
    font-size: 12pt;
}

#forgot {
    color: blue;
    font-size: 12pt;
}

#button-black {
    color: black;
}

#back {
    margin-left: 85%;
}

.recommended {
    text-align: center;
}

.thumbnail {
    width: 120px;
    height: 120px;
    display: table;
    background-color: rgba(0, 0, 0, 0.42);
    background-size: 100%;
}

.recomended_item {
    padding-left: 10px;
}

.category_content {
    text-align: center;
}

.category {
    margin: 20px 0px;
    padding: 0px 30px;
}

.category_wrapper {
    max-width: 150px;
    width: 100%;
    height: 120px;
    margin: auto;
    background-color:white;
    background-size: 120%;
}

.category_thumbnail {
    display: inline-block;
    margin: 16px 0px;
}

.category_title {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}

.logo {
    width: 120px;
    height: 120px;
    display: table;
    background-color: rgba(0, 0, 0, 0.42);
    background-size: 100%;
}


